:root {
  --background-general: #F4F7FB;
  --header-blue: #0A74DA;
  --primary-button-blue: #1D4ED8;
  --pay-button-green: #16A34A;
  --main-text-gray: #1E293B;
  --card-background: #FFFFFF;
  --card-shadow: rgba(0,0,0,0.08);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-general);
  color: var(--main-text-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}