.search-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 26%;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.search-input {
  padding-left: 35px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}