.product-card {
  width: 133px;
  height: 133px;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--card-shadow);
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
}

.product-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.product-card-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px var(--card-shadow);
}

.product-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: white;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-card .price {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.product-card button {
  background: linear-gradient(45deg, var(--primary-button-blue), #1a3a9c);
  color: var(--card-background);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.product-card button.added {
  background-color: var(--pay-button-green);
  cursor: not-allowed;
  animation: bounce 0.5s ease;
}

.product-card button.out-of-stock {
  background: #dc3545; /* Red color */
  cursor: not-allowed;
}

.stock-info {
  font-size: 0.9rem;
  color: #f1f1f1;
  margin-bottom: 1rem;
}

.out-of-stock-icon {
  color: #d3d3d3; /* Light gray */
}