.progress-bar-container {
  width: 100%;
  background-color: #e9ecef;
  border-radius: 5px;
  height: 10px;
  margin-top: 0.5rem;
}

.progress-bar {
  background: linear-gradient(90deg, var(--primary-button-blue), #1a3a9c);
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}
