.stepper-wrapper {
  margin-bottom: 2rem;
  position: relative;
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  transition: all 0.4s ease;
}

.step-item.pending {
  opacity: 0.5;
}

.step-item.active .step-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.step-item.active .step-counter {
  transform: scale(1.2);
  background-color: var(--primary-color);
}

.step-item.completed .step-counter {
  background-color: var(--pay-button-green);
}

.step-counter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 700;
  transition: all 0.4s ease;
  font-size: 1.2rem;
}

.step-name {
  font-size: 1rem;
  color: var(--main-text);
  transition: all 0.4s ease;
}

.progress-bar-container {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #e0e0e0;
  margin: 0 5%;
  width: 90%;
  z-index: 0;
}

.progress-bar {
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.4s ease-in-out;
}
